* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  html, body {
    background-color: #ffffff;
    color: black; 
  }
  ::selection {
    background-color: rgba(73, 241, 233, 0.3); 
  }
  
  .a {
    text-decoration: none;
    color: black;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  img {
    max-width: 100%;
    height: auto; 
  }